---

kind: Application
apiVersion: argoproj.io/v1alpha1

metadata:
  name: karma
  namespace: argocd

spec:
  project: tech

  destination:
    name: funny-bell
    namespace: metrics

  source:
    repoURL: https://wiremind.github.io/wiremind-helm-charts/
    chart: wiremind/karma
    targetRevision: 2.11.0

    helm:
      releaseName: karma
      values: |
        # https://github.com/wiremind/wiremind-helm-charts/blob/karma-2.11.0/charts/karma/values.yaml

        # Using explicit IngressRoute
        ingress:
            enabled: false

        kthxbyeSidecar:
          enabled: false

        configMap:
          enabled: true
          rawConfig:
            alertmanager:
              interval: 30s
              servers:
                - name: cluster-local
                  uri: http://kube-prometheus-stack-alertmanager.metrics.svc:9093
                  timeout: 10s
                  proxy: true
                  # headers:
                  #   x-auth-token: some-token
                  #   any-header: string-value
              annotations:
                default:
                  hidden: false
                hidden:
                  - help
                visible: []
              filters:
                default:
                  - "@receiver=by-cluster-service"
              labels:
                color:
                  static:
                    - job
                  unique:
                    - cluster
                    - instance
                    - "@receiver"
                keep: []
                strip: []
              listen:
                address: "0.0.0.0"
                port: 8080
                prefix: /
              log:
                config: false
                level: info
              # jira:
              #   - regex: DEVOPS-[0-9]+
              #     uri: https://jira.example.com
              receivers:
                keep: []
                strip: []
              # sentry:
              #   private: secret
              #   public: 123456789
            # aclsConfig:
            #   rules:
            #    - action: block
            #      reason: all regex silences are blocked, use only concrete label names and values
            #      scope:
            #        filters:
            #          - name_re: .+
            #            value_re: .+
            #            isRegex: true
            #    - action: allow
            #      reason: admins are allowed
            #      scope:
            #        groups:
            #          - admins
            #    - action: block
            #      reason: only admins can create silences with cluster=prod
            #      scope:
            #        filters:
            #          - name: cluster
            #            value: prod
            #            isEqual: true

  syncPolicy:
    syncOptions:
      - CreateNamespace=true
    automated:
      selfHeal: false
      prune: false
