---

apiVersion: v1
kind: PersistentVolumeClaim

metadata:
  name: grist-data
  namespace: grist
  labels:
    app: grist

spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
  storageClassName: local-path
