---

apiVersion: apps/v1
kind: Deployment

metadata:
  name: dockerhub-proxy
  namespace: dockerhub

spec:
  replicas: 1
  selector:
    matchLabels:
      app: dockerhub-proxy
  template:
    metadata:
      labels:
        app: dockerhub-proxy
    spec:
      containers:
        - name: proxy
          image: 11notes/registry-proxy:2.8.3
          env:
            - name: TZ
              value: Europe/Moscow
            - name: REGISTRY_PROXY_CONFIG
              valueFrom:
                secretKeyRef:
                  name: config
                  key: config

          ports:
            - containerPort: 5000
