---

kind: Application
apiVersion: argoproj.io/v1alpha1

metadata:
  name: cert-manager
  namespace: argocd

spec:
  project: tech

  destination:
    name: brave-booth
    namespace: cert-manager

  source:
    repoURL: quay.io/jetstack/charts
    chart: cert-manager
    targetRevision: v1.19.1

    helm:
      releaseName: cert-manager
      values: |
        # https://github.com/cert-manager/cert-manager/blob/v1.19.1/deploy/charts/cert-manager/values.yaml
        crds:
          enabled: true

  syncPolicy:
    syncOptions:
      - CreateNamespace=true
    automated:
      selfHeal: false
      prune: false
