---

kind: Application
apiVersion: argoproj.io/v1alpha1

metadata:
  name: pagetron-demo
  namespace: argocd
  annotations:
    kargo.akuity.io/authorized-stage: pagetron:public-demo

spec:
  project: personal

  destination:
    name: brave-booth
    namespace: pagetron-demo

  sources:
    - repoURL: 'https://github.com/agrrh/infrastructure.git'
      targetRevision: HEAD
      ref: values
    - repoURL: https://github.com/agrrh/pagetron.git
      path: charts/pagetron
      targetRevision: v0.2.2
      helm:
        releaseName: pagetron-demo
        valueFiles:
          - $values/kubernetes-v2/personal/applications/pagetron-demo/values.yaml

  syncPolicy:
    syncOptions:
      - CreateNamespace=true
    automated:
      selfHeal: true
      prune: false
    managedNamespaceMetadata:
      annotations:
        kargo.akuity.io/keep-namespace: "true"

  ignoreDifferences:
    - group: apps
      kind: Deployment
      name: pagetron-backend
      jqPathExpressions:
        - '.spec.template.spec.containers[] | select(.name == "pagetron-backend") | .image'
    - group: apps
      kind: Deployment
      name: pagetron-frontend
      jqPathExpressions:
        - '.spec.template.spec.containers[] | select(.name == "pagetron-frontend") | .image'
