---

kind: Application
apiVersion: argoproj.io/v1alpha1

metadata:
  name: pagetron
  namespace: argocd
  annotations:
    kargo.akuity.io/authorized-stage: pagetron:self-managed

spec:
  project: personal

  destination:
    name: brave-booth
    namespace: pagetron

  source:
    repoURL: https://github.com/agrrh/pagetron.git
    path: charts/pagetron
    targetRevision: v0.2.2
    helm:
      releaseName: pagetron
      values: |
        publicUrl: https://status.agrrh.com
        ingressClass: traefik

        publicAccess:
          ingress:
            enabled: true

            class: traefik

          s3:
            enabled: false

        timezone: Europe/Moscow

        targets:
          - https://agrrh.com
          - https://argocd.agrrh.com
          - https://n8n.agrrh.com
          - https://passbolt.agrrh.com

        backend:
          replicas: 1

        frontend:
          replicas: 1

  syncPolicy:
    syncOptions:
      - CreateNamespace=true
    automated:
      selfHeal: true
      prune: false

  ignoreDifferences:
    ignoreDifferences:
      - group: apps
        kind: Deployment
        name: pagetron-backend
        jqPathExpressions:
          - '.spec.template.spec.containers[] | select(.name == "pagetron-backend") | .image'
      - group: apps
        kind: Deployment
        name: pagetron-frontend
        jqPathExpressions:
          - '.spec.template.spec.containers[] | select(.name == "pagetron-frontend") | .image'
