---

apiVersion: apps/v1
kind: Deployment

metadata:
  name: authelia
  namespace: authelia

spec:
  replicas: 1
  selector:
    matchLabels:
      app: authelia
  template:
    metadata:
      labels:
        app: authelia
    spec:
      containers:
        - name: main
          image: authelia/authelia:4.39.14
          env:
            - name: TZ
              value: Europe/Moscow
          ports:
            - name: http
              containerPort: 9091

          volumeMounts:
            - name: data
              mountPath: /var/lib/authelia
            - name: config
              mountPath: /config/configuration.yml
              subPath: configuration.yml
              readOnly: true
            - name: config
              mountPath: /config/users.yaml
              subPath: users.yaml
              readOnly: true

      volumes:
        - name: config
          secret:
            secretName: config
            items:
              - key: config.yaml
                path: configuration.yml
              - key: users.yaml
                path: users.yaml
        - name: data
          persistentVolumeClaim:
            claimName: authelia-data
