---
apiVersion: v1
kind: ConfigMap

metadata:
  name: config
  namespace: vector

data:
  vector.toml: |
    data_dir = "/vector-data"

    [sources.k8s_logs]
    type = "kubernetes_logs"

    # [sources.syslog_tcp]
    # type = "syslog"
    # address = "0.0.0.0:9000"
    # mode = "tcp"

    [sources.syslog_udp]
    type = "syslog"
    address = "0.0.0.0:9000"
    mode = "udp"

    [transforms.parse_json]
    type = "remap"
    inputs = ["k8s_logs"]
    source = '''
      .message = to_string(.message) ?? "default"
      if is_json(.message) {
        parsed, err = parse_json(.message)

        if err != null {
          log("Skipping non-JSON message: " + err, level: "debug")
          abort
        }

        del(.message)
        .json = parsed
      }
    '''

    [transforms.select_goflow]
    type = "filter"
    inputs = ["parse_json"]
    condition.type = "vrl"
    condition.source = """
      return .kubernetes.pod_namespace == "netflow" && starts_with(string!(.kubernetes.pod_name), "goflow-")
    """

    [transforms.select_dns]
    type = "filter"
    inputs = ["syslog_udp"]
    condition.type = "vrl"
    condition.source = """
      return .appname == "ndnproxy" && contains(string!(.message), " domain ")
    """

    [transforms.parse_dns]
    type = "remap"
    inputs = ["select_dns"]
    source = """
      # [C787] domain 'example.com.'
      .domain = parse_regex!(.message, r'domain \\'(?P<domain>[\\w\\d\\.]+)\\'').domain
    """

    [sinks.goflow_send]
    type = "http"
    inputs = ["select_goflow"]
    uri = "http://10.0.55.110:8080/api/v1/flows"
    method = "post"
    encoding.codec = "json"
    request.timeout_secs = 2
    request.retry_attempts = 3
    request.retry_backoff_secs = 5

    [sinks.dns_send]
    type = "http"
    inputs = ["parse_dns"]
    uri = "http://10.0.55.110:8080/api/v1/dns_queries"
    method = "post"
    encoding.codec = "json"
    request.timeout_secs = 2
    request.retry_attempts = 3
    request.retry_backoff_secs = 5

    [sinks.console]
    type = "console"
    inputs = ["parse_dns"]
    target = "stdout"
    encoding.codec = "json"

    # [sinks.prometheus]
    # type = "prometheus_exporter"
    # inputs = []
    # address = "0.0.0.0:9598"
    # default_namespace = "vector"
