---
apiVersion: v1
kind: ConfigMap

metadata:
  name: config
  namespace: vector

data:
  vector.toml: |
    data_dir = "/vector-data"

    [sources.k8s_logs]
    type = "kubernetes_logs"

    [transforms.parse_json]
    type = "remap"
    inputs = ["k8s_logs"]
    source = '''
      .message = to_string(.message) ?? "default"
      if is_json(.message) {
        parsed, err = parse_json(.message)

        if err != null {
          log("Skipping non-JSON message: " + err, level: "debug")
          abort
        }

        . = parsed
      }
    '''

    [transforms.select_goflow]
    type = "filter"
    inputs = ["parse_json"]
    condition.type = "vrl"
    condition.source = """
      return .kubernetes.pod_namespace == "netflow" && starts_with(string!(.kubernetes.pod_name), "goflow-")
    """

    # [transforms.aggregate_addresses]
    # type = "aggregate"
    # inputs = ["filter_suspicious"]
    # identifier_fields = ["dst_address"]
    # aggregate = [
    #   { window_seconds = 60, target_field = "flow_count", function = "count" },
    #   { window_seconds = 60, target_field = "total_packets", function = "sum", field = "packets" },
    #   { window_seconds = 60, target_field = "unique_sources", function = "count_distinct", field = "src_address" }
    # ]
    # condition = "true"
    # output_schema.fields.flow_count = "int"
    # output_schema.fields.total_packets = "int"
    # output_schema.fields.unique_sources = "int"

    [sinks.goflow_send_to_analyze]
    type = "http"
    inputs = ["select_goflow"]
    uri = "http://10.0.55.101:8080/api/v1/flows"
    method = "post"
    encoding.codec = "json"
    batch.max_events = 10
    batch.timeout_secs = 1
    request.timeout_secs = 10
    request.retry_attempts = 3
    request.retry_backoff_secs = 1

    [sinks.console]
    type = "console"
    inputs = ["select_goflow"]
    target = "stdout"
    encoding.codec = "json"

    # [sinks.prometheus]
    # type = "prometheus_exporter"
    # inputs = []
    # address = "0.0.0.0:9598"
    # default_namespace = "vector"
