---
apiVersion: v1
kind: ConfigMap

metadata:
  name: config
  namespace: vector

data:
  vector.toml: |
    data_dir = "/vector-data"

    [sources.k8s_logs]
    type = "kubernetes_logs"
    # extra_label_selector = "app=goflow"

    [transforms.parse_json]
    type = "remap"
    inputs = ["k8s_logs"]
    source = '''
      .message = to_string(.message) ?? "default"
      if is_json(.message) {
        . = parse_json(.message)
      }
    '''

    [transforms.add_metadata]
    type = "remap"
    inputs = ["parse_json"]
    source = '''
      .timestamp = now()
      .collector = "vector"
    '''

    [sinks.http_output]
    type = "http"
    inputs = ["add_metadata"]
    uri = "http://availability-checker:8080/api/v1/flows"
    method = "post"
    encoding.codec = "json"
    batch.max_events = 50
    batch.timeout_secs = 1
    request.timeout_secs = 10
    request.retry_attempts = 3
    request.retry_backoff_secs = 1

    [sinks.console]
    type = "console"
    inputs = ["parse_json"]
    target = "stdout"
    encoding.codec = "json"

    # [sinks.prometheus]
    # type = "prometheus_exporter"
    # inputs = []
    # address = "0.0.0.0:9598"
    # default_namespace = "vector"
